@font-face {
    font-family: Mian-Font;
    src: url(fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: g-font;
    src: url(fonts/g-font.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mian-Font;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: auto;
}

.container{
    overflow: hidden;
    padding-bottom: 200px;
    position: relative;
    display: flex;
    width: 100%;
    height: 120vh;
    background: linear-gradient(to bottom, #ffffff 54%, #e6e2d3 100%);
}

.container .left{
    width: 50%;
    height: 100%;
}

.container .left .nav-bar{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 10%;
    height: 70px;
}

.container .left .nav-bar p{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-family: Mian-Font;
    font-weight: 200;
    font-size: 18px;
    color: #bbbbbbc2;
}

.container .left .nav-bar p span{
    font-size: 30px;
    font-style: italic;
}

.container .left .star-g{
    /* background-color: #424efd; */
    margin-top: 40px;
    margin-left: 10%;
    width: 90%;
}

.g-cercle{
    position: relative;
    width: 80px;
    height: 80px;
    /* background-color: rgb(238, 18, 18); */
}

.g-cercle .g{
    padding-top: 5px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: #424efd;
}

.g-cercle .g span{
    font-weight: bold;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 45px;
    font-family: g-font;
    color: #ffffff;
    text-transform: uppercase;
}

.g-cercle .blank{
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.container .left .star-g .content{
    margin-top: 50px;
}


.container .left .star-g .content h1{
    font-family: Mian-Font;
    font-weight: bolder;
    font-size: 5vw; 
}

.container .left .star-g .content .content-desc{
    margin-top: 10px;
    
}

.container .left .star-g .content .content-desc h3{
    font-weight: 400;
    margin-top: 10px;
    font-size: 35px;
    color: #949494b9;
}

.container .left .star-g .content .content-desc p{
    margin-top: 6px;
    font-size: 35px;
    font-weight: 200;
}

.container .right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-bottom: 250px;
}

.container .right .first-circle{
    margin-right: -70%;
    margin-top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: none;
    background-color: #acacac59;
    padding: 1px;
}

.second-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    /* background-color: #e6e2d3; */
    background: linear-gradient(to bottom, #ffffff 54%, #f8f8f8be 100%);
}

.third-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: none;
    background-color: rgba(12, 41, 46, 0.308);
    padding: 1px;
}

.fourth-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to bottom, #ffffff 54%, #fffffff3 100%);
}

.fifth-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: none;
    background-color: rgb(12, 41, 46);
    padding: 1px;
}

.sixth-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: #424efd;
}

.seventh-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: none;
    background-color: #121cb1;
}

.service{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    margin-left: 5%;
    margin-top: -20%;
    position: absolute;
    width: 90%;
    height: 160px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.144) 0px 54px 55px, rgba(189, 189, 189, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.service-card{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: calc(80% / 3);
    height: 100%;
    margin-left: 50px;
}

.service-card h3{
    text-transform: uppercase;
    color: #589ffc;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
}

.service-card h1{
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
}

.service-card p{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    opacity: .4;
}

.service span{
    width: 10%;
    height: 100%;
    font-size: 30px;
    font-family: Mian-Font;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 100;
    color: #589ffc;
}

.company-card{
    padding: 10px;
    margin-left: 78%;
    margin-top: -46%;
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.144) 0px 54px 55px, rgba(189, 189, 189, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.company-card h3{
    width: 100%;
    height: fit-content;
    font-size: 14px;
}

.company-card p{
    opacity: .4;
    width: 100%;
    height: fit-content;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.company-card .comp-card{
    border-radius: 10px;
    padding: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 252, 252); 
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.company-card .selected{
    border: 0.5px solid rgba(0, 0, 255, 0.507);
    background-color: rgba(0, 0, 255, 0.062); 
}

.company-card .selected i{
    color: #002ab3;
}

.company-card .selected .left-card i{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1100ff;
    padding: 3px;
    border-radius: 5px;
    color: white;
    margin-right: 10px; 
}

.company-card .comp-card .left-card{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%; 
}

.company-card .comp-card .blank-i i{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 255, 0.507);
    background-color: white; 
    padding: 3px;
    border-radius: 5px;
    color: #1100ff;
    margin-right: 10px;
}

.company-card .comp-card .left-card .lle{
    display: flex;
    padding: 4px;
    flex-direction: column;
    width: 60%;
    height: 100%;  
    margin-right: 3px;
}

.company-card .comp-card .left-card .lle h3{
    width: fit-content;
    height: fit-content;
    font-size: 8px;  
}

.company-card .comp-card .left-card .lle p{
    width: fit-content;
    height: fit-content;
    font-size: 8px;  
}

.company-card .comp-card .left-card img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;  
}


.download{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 62.5%;
    margin-top: -28%;
    position: absolute;
    width: 36vw;
    height: 60px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.144) 0px 54px 55px, rgba(189, 189, 189, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.download-card{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.download-card i{
    margin-top: 0px;
}

.download-card:nth-child(1) i{
    color: #04fc25;
}

.download-card:nth-child(2) i{
    color: #0408fc;
}

.download-card:nth-child(3) h4{
    color: #0408fc;
}

.download-card .status-card h3{
    font-size: 14px;
}

.download-card .status-card p{
    margin-top: 4px;
    opacity: .6;
    font-size: 11px;
}

.payment-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: -50%;
    position: absolute;
    width: 220px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.144) 0px 54px 55px, rgba(189, 189, 189, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
.payment-card img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}


.payment-card h3{
    width: 100%;
    height: fit-content;
    font-size: 14px;
}

.payment-card p{
    opacity: .4;
    width: 90%;
    height: fit-content;
    font-size: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.payment-card progress{
    width: 90%;
    height: 10px;
}

.container-first{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
}

.container-first .left{
    width: 20%;
    height: 100%;
}

.container-first .left .nav-bar{
    position: absolute;
    transform: rotate(-90deg);
    width: fit-content;
    margin-left: -5%;
    margin-top: 18%;
    height: fit-content;
}

.container-first .left .nav-bar p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    text-transform: uppercase;
    font-family: Mian-Font;
    font-weight: 200;
    font-size: 18px;
    color: #bbbbbbc2;
}

.container-first .left .nav-bar p span{
    font-size: 30px;
    font-style: italic;
}

.container-first .center-area{
    width: 60%;
    height: 100%;
}

.container-first .center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 400px;
    height: 400px;
}


.container-first .center .circle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    border:  6px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-first .center .circle .rotate-circle{
    z-index: 9;
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 10px;
    /* background-color: black; */
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Rotate 360 degrees */
    }

    to {
        transform: rotate(360deg); /* Rotate 360 degrees */
    }
}


.container-first .center .circle .rotate-circle .dotts{
    border-radius: 50%;
    margin-left: -8px;
    width: 10px;
    height: 10px;
    background-color: #121cb1;
}

.container-first .center .circle .inner-circle{
    width: 30%;
    height: 30%;
    background-color: #dadada;
    border-radius: 50%;
}

.container-first .center .center-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 600px;
}

.container-first .center .center-content p{
    margin-top: 70px;
    font-family: Mian-Font;
    line-height: 27px;
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.container-first .center .center-content h3{
    font-weight: 600;
    color: #1100ff;
    margin-top: 40px;
    font-family: Mian-Font;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.container-first .center .center-content h6{
    font-weight: 300;
    color: #bbbbbb;
    margin-top: 10px;
    font-family: Mian-Font;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

/* Container first right area styling end */
.container-first .right{
    position: relative;
    margin-left: 0px;
    width: 20%;
    height: 100%;
}

.container-first .right .circle{
    top: 50%;
    left: 30%;
    transform: translate(0%,-50%);
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 50%;
    border:  2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container first styling end */

/* Container second styling start */

.container-second{
    margin-left: 5%;
    display: flex;
    width: 90%;
    height: 80vh;
    background-color: #ffffff;
}

.container-second .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: #fafafa;
}

.container-second .left .title{
    width: 80%;
    height: fit-content;
}

.container-second .left .title h1{
    font-family: Mian-Font;
    line-height: 40px;
    color: #000000;
    font-size: 5vh;
    width: 100%;
    height: fit-content;
}

.container-second .left .desc{
    
    line-height: 20px;
    padding-top: 30px;
    width: 80%;
    height: fit-content; 
}

.container-second .left .desc p{
    font-family: Mian-Font;
    font-size: 12px;
}

.container-second .left .desc span{
    font-family: Mian-Font;
    padding-top: 20px;
    font-style: italic;
    font-size: 14px;
}

.container-second .left .desc h6{
    color: #1100ff;
    font-family: Mian-Font;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

.container-second .right{
    width: 70%;
    height: 100%; 
}

.container-second .right .brand-title{
    text-align: center;
    width: 100%;
    height: fit-content; 
}

.container-second .right .brand-title h1{
    font-weight: 300;
    width: 100%;
    height: fit-content;
}

.container-second .right .brand-color{
    width: 100%;
    height: 100%; 
}

.container-second .right .brand-color .first{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 50%;
}

.container-second .right .brand-color .first .brand-circle{
    padding-left: 5%;
    width: 100%;
    height: 100%;   
}

.container-second .right .brand-color .first .brand-circle .circle-area{
    position: relative;
    width: 80%;
    height: 70%;
}

.container-second .right .brand-color .first .brand-circle .circle-area .main-circle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container-second .right .brand-color .first .brand-circle .circle-area .dott-circle{
    position: absolute;
    width: 50px;
    height: 50px;
}

.container-second .right .brand-color .first .brand-circle .color-code{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 20%;
}

.container-second .right .brand-color .first .brand-circle .color-code p{
    opacity: .4;
}

.color-first{
    background-color: #6ea3ff;
}

.color-second{
    background-color: #005eff;
}

.color-third{
    background-color: #0452d7;
}

.color-fourth{
    background-color: #444c66;
}

.color-fifth{
    background-color: #757a89;
}

.color-sixth{
    background-color: #d0d5de;
}

.shap-first{
    margin-top: 15px;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
}

.shap-second{
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: white;
}
